/*------------------------------------*\
    $NAVBAR
\*------------------------------------*/


#presentacion_link {
    display: block;
    height: 20px;
    margin-right: 50px;
    margin-left: 25px;
    margin-top: -3px;
    width: 90px;
}

#vision_link {
    display: block;
    height: 20px;
    margin-right: 37px;
    margin-left: 17px;
    margin-top: -3px;
    width: 115px;
}


#productos_link {
    display: block;
    height: 20px;
    margin-right: 55px;
    margin-left: 43px;
    margin-top: -3px;
    width: 76px;
}

#contacto_link {
    display: block;
    height: 20px;
    margin-top: -3px;
    margin-left: 5px;
    width: 149px;
}


#logo {
    display: block;
    height: 20px;
    text-indent: -9999px;
    padding: 16px;
    width: 166px;
}

#logolist {
    border-bottom: 2px solid #EDEDED;
	border-top: 1px solid #EDEDED;
    box-shadow: 0 2px 0 #EDEDED;
    -moz-box-shadow: 0 2px 0 #EDEDED;
    -webkit-box-shadow: 0 2px 0 #EDEDED;
    display: block;
    height: 59px;
    margin: -11px 0 0;
    text-indent: -9999px;
	border-bottom: 2px solid #EDEDED;
	border-top:  1px solid #EDEDED;
	background: url("../img/logo4.png") no-repeat scroll 17px top transparent;
    }

	

.subtitle {
 	border-bottom: 2px solid #000000;
    color: #000000;
    float: right;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    width: 190px;
}

.subtitletwo {
 	border-bottom: 2px solid #000000;
    color: #000000;
    float: right;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    width: 180px;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #A2A2A2;
  border-bottom: 1px solid #ffffff;
}


.hrfooter {
  margin: 5px 0;
  border: 0;
  border-top: 1px solid #C2C2C2;
}

.gesiuris {
  margin: 0 -4px 13px;
}